

header {
    width: 100%;
    height: 21vh;
    background-color: #3854a6;
}

html , body{
    padding: 0; 
}

#profile {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url(./img_SA/profilepic.webp);
    margin-top: 5vh;
    margin-right: 3vw;    
    height: 65px ;
    width: 65px;
    float: right;
    cursor: pointer;

}

#username {

    color: #fff;
    margin-top: 7vh;
    margin-right: 3vw;    
    display: flex;
    float: right;    

}


nav {
    margin-top: 2vh;
}

.active{
    background-color: rgba(38, 54, 200, 0.5);
}

main {

    background-color: #e5e5e5;
    width: 100%;
    height: 200vh;

}

.carousel {
    width: 50vw;
}

.carousel-inner{
    margin-top: 10px;
    width:100%;
    max-height: 50vh !important;
  }
  

#logo {

    float: left;
    width: 15vw;
    height: 15vh;
    margin-left: 15px;
    margin-top: 2vh;
    background-image: url(./img_SA/logoSA.png);
    background-size: 140% 280%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   
}

#search{

    float: right;
    margin-top: 7vh;
    margin-right: 11vw;

}

#searchbar {

    width:23vw !important;

}



#articlelist {
    
    margin-top: 5px;
    height: 60vh;
    width: 100%;
}

#list1 {

    display: flex;
    margin-top: 10px;
    margin-left: 12vw;
    border: 2px solid #000;
    float: left;
    height: 50vh;
    width: 30vw;

}

#list2 {
    display: flex;
    margin-top: 10px;
    margin-right: 12vw;
    border: 2px solid #000;
    float: right;
    height: 50vh;
    width: 30vw;
}

.articlegenero{
    
    margin-top: 3vh;
    width: auto;
    height: 80vh;
}

#titlegenre{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero1{

    margin-top: 3vw;
    margin-left: 25vh;
    float: left;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;


}

.genero2{

    margin-top: 3vw;
    margin-left: 30vh;
    float: left;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero3{

    margin-top: 3vw;
    margin-right: 25vh;
    float: right;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero4{

    margin-top: 3vw;
    margin-right: 30vh;
    float: right;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero5{

    margin-top: 10vw;
    margin-left: 25vh;
    float: left;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero6{

    margin-top: 10vw;
    margin-left: 30vh;
    float: left;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.genero7{

    margin-top: 10vw;
    margin-right: 25vh;
    float: right;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.genero8{

    margin-top: 10vw;
    margin-right: 30vh;
    float: right;
    height: 10vh;
    width: 7vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

}

#return1{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#return2{

    width: auto;
    height: 6vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;


}



footer {
    padding: 5vh;
    height: auto;
    width: 100%;
    background-color: #3854a6;

}

.container-footer{
    margin: 0 auto;
    display: flex;
    margin-left: 2vw;
    margin-top: 2vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
}

#saibamais{

    display: flex;
    width: auto;
    height: 4vh;
    cursor: pointer;
}

#faleconosco{
    display: flex;
    float: left;
    margin-left: 5vw;
    width: auto;
    height: 3vh;
    cursor: pointer;

}


#socialmediaicon1 {

    display: flex;
    margin-top: 2vh;
    margin-right: 2vw;
    float: right;
    width: 3vw;
    height: 6vh;
    border-radius: 50%;

}



