<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Contato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./contato.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <header>
      <script> function telainicial(){
        window.location.href="../../index.php";
      } 
    
       function profile(){
        window.location.href="../login/login.html";
      }
    
      function saibamais(){
        window.location.href="./sobre.html";
      }
    
      function faleconosco(){
        window.location.href="./contato.html";
      }
    
      </script>
    </head>
    
    <body>
    
      <a name="topo"></a>
    
        <header>
    
          <section id="profile"  onclick="profile()">
    
          </section>
    
          <section id="username">
          </section>
    
            <section id="search">
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pesquisar" id="searchbar">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit"><i class="fas fa-search"> </i></button>
                    </div>
                  </div>
    
            </section>
              
            <section id="logo" onclick="telainicial()">
              
            </section>
    
            
        </header>
    
    
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../../index.php">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../avaliacao/index.html">Avaliações</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./contato.html">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../cadastro/index.php">Cadastro</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="./sobre.html">Sobre</a>
                </li>
              </ul>
        </nav>
<main>

<div class="container">
  <h2>Entre em contato conosco: </h2>
  <hr width="1112" height="200" color="blue"/>
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
      <label for="uname">Nome:</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite seu nome completo" name="nome" required>
      <div class="valid-feedback">Válido</div>
      <div class="invalid-feedback">Por favor digite um nome válido</div>
    </div>
    <div class="form-group">
      <label for="uname">Email:</label>
      <input type="email" class="form-control" id="mail" placeholder="Digite seu email" name="mail" required>
      <div class="valid-feedback">Válido</div>
      <div class="invalid-feedback">Por favor digite um email válido</div>
    </div> 
    <div class="form-group">
      <label for="uname">Telefone:</label>
      <input type="tel" class="form-control" id="telefone" placeholder="Digite seu Telefone" name="telefone" required>
      <div class="valid-feedback">Válido</div>
      <div class="invalid-feedback">Por favor digite um Telefone Válido</div>
    </div>  

    <div class="container">
        
          <div class="form-group">
            <label for="usr">Comentário:</label>
            <textarea class="form-control" rows="5" id="comentario" name="comentario" required></textarea>
          </div> 
          
    </div>
      
   
   
    <button type="submit" class="btn btn-primary">Enviar</button> 
</form>
    </div> 
    <article>
    
        <section class="section3">
            <h4>Horário de Atendimento:</h4>
        </section> 
        <section class="section2">
           
            <p class="p4">  Segunda a Sexta </p>
            <p  class="p3"> Horário: 9h às 17h</p>
           
    
        </section>
        </article>
    
<article class="article2">
    
    <section class="section1">
        <h3>Contatos:</h3>
    </section>
    <section class="section2">
       
        <p  class="p4"> (31) 3578-7452</p>
        <p  class="p2"> (31) 98456-4578</p>
        <p  class="p3">magiadoslivros@gmail.com</p>

    </section>
    </article>



</main> 
<footer>


  <div class="container-footer">

    <section id="saibamais" onclick="saibamais()"> 
      
     <ins> Saiba mais </ins>

    </section> 

  

    <section id="faleconosco" onclick="faleconosco()">

     <ins> Fale Conosco </ins> 
    
    </section>

     <section id="socialmediaicon">

      <button class="btn btn-light" type="button"> <a href="https://instagram.com/magiadoslivro?igshid=YmMyMTA2M2Y=" target="blank">  <i class="fa-brands fa-instagram"></i> Instagram </a> </button>
     
     </section>

  </div>



</footer>


</body>
</html>

