<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Sobre</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./sobre.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


  <header>

    <script> function telainicial(){
      window.location.href="../../index.php";
    } 
  
     function profile(){
      window.location.href="../login/login.html";
    }
  
    function saibamais(){
      window.location.href="./sobre.html";
    }
  
    function faleconosco(){
      window.location.href="./contato.html";
    }
  
    </script>
  </head>
  
  <body>
  
    <a name="topo"></a>
  
      <header>
  
        <section id="profile"  onclick="profile()">
  
        </section>
  
        <section id="username">
        </section>
  
          <section id="search">
  
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Pesquisar" id="searchbar">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"> </i></button>
                  </div>
                </div>
  
          </section>
            
          <section id="logo" onclick="telainicial()">
            
          </section>
  
          
      </header>
  
  
      <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../../index.php">Página Inicial</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="../avaliacao/index.html">Avaliações</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contato.html">Contato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../cadastro/index.php">Cadastro</a>
                </li>
              <li class="nav-item">
                <a class="nav-link active" href="./sobre.html">Sobre</a>
              </li>
            </ul>
      </nav>
<main>  
  <h2 class="h21"> Quem Somos </h2>
  <article class="article2">
<section class="section2"> 
  <p>Somos 4 Jovens, frutos da união de quatro famílias, no qual se uniram em 1980 com objetivo de levar livros para as pessoas que não tinha acesso a eles. 
    Logo, foi criado a biblioteca pública chamada "Magia dos Livros", pois eles acreditavam e nós acreditamos que o Conhecimento é Poder,
     mas com a falta de investimentos de empresas parceiras, nas quais foram afetadas pela pandemia, a Biblioteca teve que fechar as portas. Mas, isso não será um impedimento para que o nosso objetivo seja alcançado. </p>     
</section> 
<section class="section3"> 
  <img src="../../img_SA/Nikolas.png" class="rounded" alt="Cinque Terre" width="692vh" height="392vh">
</section>
</article> 
<h2 class="h31"> Nosso Objetivo </h2>
  <article class="article2">
<section class="section2"> 
  <p>O site foi criado com o mesmo objetivo dos nossos antepassados, mas tivemos que nos reinventarmos devido a pandemia. 
    A Magia dos Livros, hoje está na internet, agora você pode comentar seus livros preferidos e ainda ver os comentários sobre os livros que você pretende ler. 
    Mas, nós queremos ir além, queremos que as pessoas consigam ter acesso gratuito a nosso acervo, logo para que isso aconteça, é necessário a colaboração de pessoas e empresas que acreditam no poder da Educação. Se você é uma delas, por favor entre em contato conosco e nos ajude a levarmos a Magia dos Livros para mais pessoas. Obrigado.</p>     
</section> 
<section class="section3"> 
  <img src="../../img_SA/objetivo.jpg" class="rounded" alt="Cinque Terre" width="692vh" height="392vh">
</section>
</article>

</main>

</body> 
<footer>


  <div class="container-footer">

    <section id="saibamais" onclick="saibamais()"> 
      
     <ins> Saiba mais </ins>

    </section> 

  

    <section id="faleconosco" onclick="faleconosco()">

     <ins> Fale Conosco </ins> 
    
    </section>

     <section id="socialmediaicon">

      <button class="btn btn-light" type="button"> <a href="https://instagram.com/magiadoslivro?igshid=YmMyMTA2M2Y=" target="blank">  <i class="fa-brands fa-instagram"></i> Instagram </a> </button>
     
     </section>

  </div>



</footer>

</html>




